<ion-row class="ion-padding ion-justify-content-center ion-align-items-center">
  <ion-col size="auto">
    Made with
  </ion-col>
  <ion-col size="auto">
    <ion-icon name="logo-angular" size="small"></ion-icon>
  </ion-col>
  <ion-col size="auto">
    <ion-icon name="add"></ion-icon>
  </ion-col>
  <ion-col size="auto">
    <ion-icon name="logo-ionic" size="small"></ion-icon>
  </ion-col>
  <ion-col size="auto">
    <ion-icon name="add"></ion-icon>
  </ion-col>
  <ion-col size="auto">
    <ion-icon name="heart" size="small"></ion-icon>
  </ion-col>
</ion-row>
