<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button (click)="action.emit({type: 'back'})">
      <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-buttons slot="end">
    <ion-button (click)="action.emit({type: 'unfavourite', payload: contact.id})" *ngIf="contact.favourite; else favourite">
      <ion-icon name="star" slot="icon-only"></ion-icon>
    </ion-button>
    <ng-template #favourite>
      <ion-button (click)="action.emit({type: 'favourite', payload: contact.id})">
        <ion-icon name="star-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ng-template>
    <ion-button (click)="action.emit({type: 'more', payload: contact.id})">
      <ion-icon name="more" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
