<ion-list *ngIf="(contacts | keyvalue).length; else empty">
  <ion-button (click)="action.emit({type: 'add'})" expand="full" fill="clear">
    <ion-icon name="person-add" slot="start"></ion-icon>
    Add contact
  </ion-button>
  <ion-item-group *ngFor="let category of contacts | keyvalue: keepOrder; trackBy: keepTrack">
    <ion-item-divider>
      <ion-label>{{ category.key }}</ion-label>
    </ion-item-divider>
    <ion-item (click)="action.emit({payload: contact.key, type: 'contact'})"
      *ngFor="let contact of category.value | keyvalue: keepOrder; trackBy: keepTrack" [button]="true" lines="none">
      <ion-avatar slot="start">
        <ion-img src="https://eu.ui-avatars.com/api/?name={{ contact.value.name }}"></ion-img>
      </ion-avatar>
      <ion-label>{{ contact.value.name }}</ion-label>
    </ion-item>
  </ion-item-group>
</ion-list>

<ng-template #empty>
  <app-empty icon="people" title="No contacts">
    You have no contacts. Add your first contact now!
    <div class="ion-padding-top">
      <ion-button (click)="action.emit({type: 'add'})" fill="clear">
        Add Contact
      </ion-button>
    </div>
  </app-empty>
</ng-template>
